* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-image: url("pics/pexels-photo-259660.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.background {
    width: 100vw;
    overflow: auto;

}
h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 8rem;
    color: darkred;
}
.displayUnit {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
   margin: 0 auto;
}
.item {
    border: peachpuff 2px solid;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
    width: 40%;
    float: left;
    text-align: center;
    background-color: #faebd7c4;
    justify-content: center;
}
.field {
    font-weight: bold;
    font-size: large;
}
.value {
    font-size: medium;
}
.pagelink {
    text-decoration: none;
}
